# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# 忽略 区块链密钥
contracts/foundry.toml
contracts/lib/forge-std/foundry.toml
# 忽略 区块链密钥
foundry.toml
lib/forge-std/foundry.toml